SUBSYSTEMS=="usb", ATTRS{product}=="USB IR Remote Receiver", SYMLINK="input/irmp"
SUBSYSTEMS=="usb", ATTRS{product}=="STM32 IRMP HID-Device", SYMLINK="input/irmp"
